<section id="career_features" class="tour_career_features">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 my-auto" data-aos="fade-up">
				<div class="career_features_left">
					<h2>{{content.field_title.0}}</h2>
	                <p>{{content.field_description.0}}</p>
				</div>
			</div>
			<div class="col-lg-8" data-aos="fade-up">
				<div class="career_features_right">
					<div class="row">
						{{content.field_feature}}
					</div>
			   </div>
			</div>
		</div>
	</div>
</section>