<section id="course_pages">
	<div class="container">
		<div class="col-md-12 col-lg-8 mx-auto section_title" data-aos="fade-up">
			<h2>{{content.field_title.0}}</h2>
			<p>{{content.field_description.0}}</p>
		</div>
		<div class="col-lg-12">
			{{content.field_course_view}}
		</div>
	</div>
</section>