<section id="search_course">
	<div class="container">
		<div class="col-md-10 col-lg-6 mx-auto" data-aos="fade-up">
			<h2>{{content.field_title.0}}</h2>
			<p>{{content.field_description.0}}</p>
			<div class="search_course">
				{{content.field_form}}
			</div>
		</div>
	</div>
</section>