<!-- GALLERY SECTION -->  
<section id="gallery_page" class="text-center">
	<div class="container-fluid">
        <div class="row">
            <div class="col grid-gallery">
            {{gallery_categories}}
    		{# {{ render_block('views_block__gallery_categories_block_1') }} #}
    		{{content.field_gallery_view}}
	    	</div>
	    </div>
   </div>
</section>
<!-- GALLERY ENd -->
