<div class="col-lg-6 col-md-6" data-aos="fade-up">
	<div class="study">
		<h4>{{content.field_title.0}}</h4>
		<p>{{content.field_description.0}}</p>
		<div class="btn_row">
			<a class="btn white-btn" href="{{content.field_link.0['#url']}}">
				{{content.field_link.0['#title']}}
			</a>
		</div>
	</div>
</div>