<!-- Counter -->
<section id="counter">
    <div class="container">
        <div class="row text-center">
            {{content.field_counter}}
        </div><!-- end of row -->
    </div> <!-- end of container -->
</section>
<!-- End of Counter -->